*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Quicksand", sans-serif;
}
nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 17px 0px;
}

/* logo related styles */
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo-img{
    width: 39px;
    height: 39px;
}
.logo-text>h3{
    color:#3BB77E;
    font-size: 21px;
    font-weight: 700;
}
.logo-text>p{
    color: #ADADAD;
    font-size: 14px;
    font-weight: 500;
}

/* search bar related styles */
.search-bar{
    display: flex;
    align-items: center;
}
.input-container{
    display: flex;
    gap:12px;
    align-items: center;
    background-color: #F3F3F3;
    width: 431px;
    height: 42px;
    padding:0px 12px;

}
.input-container>select{
    background-color: transparent;
    border: none;
    outline: none;
    color: #253D4E;
    font-size: 14px;
    font-weight: 600;
}
.input-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    border-left: 1px solid #ADADAD;
    padding-left: 12px;
    font-size: 14px;
}
.shearch-btn{
    background-color: #3BB77E;
    border: none;
    outline: none;
    height: 42px;
    width: 55px;
}

.nav-menu{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    
}
.wishlist{
    display: flex;
    gap: 8px;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
}
.wishlist>img{
    width: 24px;
    height: 24px;
}
.wishlist>h3{
    font-size:12px;
    font-weight: 400px;
}

.cart-btn{
    display: flex;
    gap: 8px;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    position:relative;
}
.cart-btn>img{
    width: 24px;
    height: 24px;
}
.cart-text{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400px;
}
.cart-text>p{
    color:#3BB77E;
    text-align: start;
    margin-top: 4px;
}

.user-btn{
    display: flex;
    gap: 8px;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
}

.user{
    height: 40px;
    width: 40px;
    background-color: #FCAC1F;
    border-radius: 100%;
}
.user>img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.user-btn>p{
    font-size: 16px;
    font-weight: 600;
}

.counter{
    font-size: 11px;
    font-weight: 500px;
    color: white;
    background-color: #3BB77E;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
    position: absolute;
    top: -3px;
    left: 10px;
}

/* nav menus styles */
.nav-menus{
    max-width: 1200px;
    margin: 30px auto 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.grid-btn{
    display: flex;
    align-items: center ;
    justify-content: center;
    background-color: #3BB77E;
    padding: 14px;
    gap:9px;
    outline: none;
    border:none;
}

.grid-btn>span{
    font-size: 16px;
    font-weight: 600;
    color:white;
}

.nav-menus>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:24px;
}
.nav-menus>ul>li{
    display: flex;
    align-items: center;
    gap:5px;
    font-size: 16px;
    font-weight: 500;
}

.nav-menus>ul>li>img{
    height: 20px;
    width: 20px;
}
.nav-menus>.contact{
    display: flex;
    align-items: center;
    gap:5px;
}
.nav-menus>.contact>.number{
    font-size: 18px;
    font-weight: 600;
    color: #3BB77E;
}

.nav-menus>.contact>.time{
    font-size: 14px;
    font-weight: 500;
    color: #253D4E;
}

/* hero related styles */
.hero-bg{
    height: 513px;
    background: url("../assets/herobg.png");
    overflow-y: hidden;
    margin-top: 14px;
}

.hero-bg-color{
    background-color: rgba(197, 234, 217, 0.85);
    position: relative;
    height: 100%;
    width: 100%;
}

.hero-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.hero-content>img{
    position: absolute;
    right: 0px;
    top:0px;
    height:512Px;
}

.text-side>h3{
    color:#253D4E;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -0.55px;
    max-width: 532px;
}

.text-side>p{
    color: #838383;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-top: 29px;
    margin-bottom: 55px;
}

.subscribe-container{
    display: flex;
    align-items: center;
    height: 52px;
    background-color: white;
    padding-left: 12px;
    gap: 12px;
}
.subscribe-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
}

.subscribe-container>img{
    height: 18px;
    width: 18x;
    
}

.subscribe-container>button{
    background-color: #3BB77E;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    height: 100%;
    padding: 0 14px;
}

/* categories related styles */

.categories-section{
    max-width: 1200px;
    margin:0 auto;
    margin-top: 100px;
}

.category-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-heading>h2{
    font-size: 32px;
    font-weight: 600;
    color: #253D4E;
}

.category-heading>ul{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

.categories-content{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 22px;
    margin-top: 37px;
    height: 194px;
    position: relative;
    
}
.category{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.category>img{
    width: 101px;
    height: 101px;
    margin-bottom: 15px;
}

.category>h3{
    color: #253D4E;
    font-size: 18px;
    font-weight: 600px;
}

.category>p{
    color:#ADADAD;
    font-size: 14px;
    font-weight: 600;
}

.categories-content>.one{
    background-color: #FEEFEA;
}
.categories-content>.two{
    background-color: #FFF3FF;
}
.categories-content>.three{
    background-color: #F2FCE4;
}
.categories-content>.four{
    background-color: #FEEFEA;
}
.categories-content>.five{
    background-color: #ECFFEC;
}
.categories-content>.six{
    background-color: #FFFCEB;
}
.categories-content>.seven{
    background-color: #DEF9EC;
}


.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    background-color: #F2F3F4;
    padding: 10px;
    border-radius: 100%;
}

.btn-left{
    left: -80px;
}
.btn-right{
    right: -80px;
}

/* featured products related styles */

.featured-products{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.featured-products-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    height: 302px;
    margin-top: 40px;
    position: relative;

}

.product{
    border-radius: 3px;
    border: 1px solid rgba(173, 173, 173, 0.20);
    background: #FFF;
    overflow: hidden;
}

.product>img{
    height: 144px;
    width: 100%;
    object-fit: cover;
}

.product-details{
    padding:10px;
}

.product-details>.category-name{
    color: #ADADAD;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 7px;
}

.product-details>h1{
    color:#253D4E;
    font-size: 16px;
    font-weight: 600;
}

.product-details>.author{
    color: #ADADAD;
    font-size: 12px;
    font-weight: 400;
    margin-bottom:15px;
}

.product-details>.author>span{
    color: #3BB77E;
}

.price{
    display: flex;
    align-items: center;
    gap:10px;
}

.price>h2{
    color:#3BB77E;
    font-size: 18px;
    font-weight: 600;
}
.price>h3{
    color:#ADADAD;
    font-size: 14px;
    font-weight: 500;
}

.add-cart-btn{
    display: flex;
    width: 89.5px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 2px;
    background-color:#DEF9EC;
    outline: none;
    border: none;
}

.add-cart-btn>img{
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

.add-cart-btn>span{
    color: #3BB77E;
    font-size: 14px;
    font-weight: 500;
}

.price-cart{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.product-details>.rating{
    display: flex;
    align-items: center;
    gap:4px;
    margin: 15px 0px 3px 0px;
}

.product-details>.rating>img{
    height: 13px;
    width: 13px;
}
.product-details>.rating>span{
    color: #ADADAD;
    font-size: 11px;
    font-weight: 500;
}

/* promotion section related styles */
.promotion{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.promotion-bg{
    flex-grow: 1;
    height: 300px;
    background-image: url('../assets/herobg.png');
    background-size: cover;
    overflow: hidden;
}

.promotion-content{
    padding: 48px 33px 0px;
    height: 300px;
    position: relative;
    
}
.promotion-content>img{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.promotion-one{
    border-radius: 3px;
    background: rgba(255, 245, 225, 0.85);
}
.promotion-two{
    border-radius: 3px;
    background: rgba(210, 239, 225, 0.85);
}

.promotion-one>img{
    width: 184px;
    height: 100%;
    object-position: center;
    object-fit: cover;
}